.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.login {
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 20px; 
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ancho {
    width: 100%;
}

.boton {
    padding: 10px;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px; 
    margin-bottom: 10px;
}

.spinner {
    display: block;
    margin: 0 auto;
    z-index: 999;
}

.img-form {
    width: 25%;
    margin-bottom: 20px;
}

.google-icon {
    width: 40px; 
    height: 40px; 
    margin-right: 8px;
    margin-top: 15px;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px; 
}

#google-signin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black; 
    border-radius: 15px; 
    padding: 10px; 
    height: 48px; 
    font-size: 18px; 
    transition: background-color 0.3s; 
}

#google-signin-button:hover {
    background-color: #357AE8; 
}
